{%extends 'admin/base.html'%}
{%block content%}
<section class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-3">
    
    <div class="card card-primary card-outline">
    <div class="card-body box-profile">
    <div class="text-center">
    <img class="profile-user-img img-fluid img-circle" src="https://images.unsplash.com/photo-1612349317150-e413f6a5b16d" alt="User profile picture">
    </div>
    <h3 class="profile-username text-center">{{doctor.user.first_name}}  &nbsp;{{doctor.user.last_name}}</h3>
    <p class="text-muted text-center">{{ doctor.get_department_display }}</p>
    <ul class="list-group list-group-unbordered mb-3">
    <li class="list-group-item">
    <b>Phone Number</b> <a class="float-right">{{doctor.mobile}}</a>
    </li>
    <li class="list-group-item">
    <b>Email</b> <a class="float-right">{{doctor.user.email}}</a>
    </li>
   
    </ul>
    {% if doctor.approve %}
    <button class="btn btn-success ml-4 ">Approved </button>
    {%else%}
    <button class="btn btn-danger ml-4 ">Unapproved </button>
    {% endif %}

    {% if doctor.status %}
    <button class="btn btn-success">Activated </button>
    {%else%}
    <button class="btn btn-warning">Deactivated</button>
    {% endif %}
    </div>
    
    </div>
    
    
    <div class="card card-primary">
    <div class="card-header">
    <h3 class="card-title">About</h3>
    </div>
    
    <div class="card-body">
    <strong><i class="fas fa-book mr-1"></i> Education</strong>
    <p class="text-muted">
        {{doctor.education}}
    </p>
    <hr>
    <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
    <p class="text-muted">{{ doctor.address }}</p>
    <hr>
    <strong><i class="fas fa-pencil-alt mr-1"></i> Experience</strong>
        <p class="text-muted">{{ doctor.experience }}</p>
    </div>
    
    </div>
    
    </div>
    
    <div class="col-md-9">
    <div class="card">
    <div class="card-header p-2">
    <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link active" href="#dashboard" data-toggle="tab">Detail</a></li>
    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
    </ul>
    </div>
    <div class="card-body">
    <div class="tab-content">
    <div class="tab-pane active" id="dashboard">
    
       {{doctor.details}}
    </div>
    
   
    
    <div class="tab-pane" id="settings">
    
    Admin Operations : 
<!-- start -->
  <!-- Button trigger modal -->
<button type="button" class="btn {% if doctor.approve %} btn-warning {%else%} btn-success{%endif%}" data-toggle="modal" data-target="#blockModal">
  {% if doctor.status %} Deactivate{%else%} Activate{%endif%}
  </button>
  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#disapproveModal">
    {% if doctor.approve %}     Disapprove {%else%} Approve{%endif%}
  </button>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModal">
    Remove
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="blockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Do you want to {% if doctor.status %} Deactivate{%else%} Activate{%endif%} ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Note: this opration can not be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
          <form method="post">
            {%csrf_token%}
            <input type="hidden" name="action" {% if doctor.status %} value="deactivate"{%else%} value="activate"{%endif%}>
          <input type="submit" class="btn btn-danger">
        </form>

        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="disapproveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Do you want to {% if doctor.approve %} disapprove{%else%} approve{%endif%}  ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Note: This operation can not be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
          <form method="post">
            {%csrf_token%}
            <input type="hidden" name="action" {% if doctor.approve %} value="disapprove"{%else%} value="approve"{%endif%}>
            <input type="submit" class="btn btn-danger">
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Do you want to remove permanently ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Note: this opration can not be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
          <form method="post">
            {%csrf_token%}
            <input type="hidden" name="action" value="delete"/>
          <input type="submit" class="btn btn-danger"/>
        </form>
        </div>
      </div>
    </div>
  </div>

    <form class="form-horizontal">


      </div>
    </div>
    </div>
   
    </form>
    </div>
    
    </div>
    
    </div>
    </div>
    
    </div>
    
    </div>
    
    </div>
    </section>
{%endblock%}