{%extends 'admin/base.html'%}
{%block content%}
<section class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-3">
    
    <div class="card card-primary card-outline">
    <div class="card-body box-profile">
    <div class="text-center">
    <img class="profile-user-img img-fluid img-circle" src="https://images.unsplash.com/photo-1612349317150-e413f6a5b16d" alt="User profile picture">
    </div>
    <h3 class="profile-username text-center">{{patient.user.first_name}}  &nbsp;{{patient.user.last_name}}</h3>
    <p class="text-muted text-center">{{ d.get_department_display }}</p>
    <ul class="list-group list-group-unbordered mb-3">
    <li class="list-group-item">
    <b>Phone Number</b> <a class="float-right">{{patient.mobile}}</a>
    </li>
    <li class="list-group-item">
    <b>Email</b> <a class="float-right">{{patient.user.email}}</a>
    </li>
   
    </ul>
    {% if patient.approve %}
    <button class="btn btn-success ml-4 ">Approved </button>
    {%else%}
    <button class="btn btn-danger ml-4 ">Unapproved </button>
    {% endif %}

    {% if patient.status %}
    <button class="btn btn-success">Activated </button>
    {%else%}
    <button class="btn btn-warning">Deactivated</button>
    {% endif %}
    </div>
    
    </div>
    
    
    <div class="card card-primary">
    <div class="card-header">
    <h3 class="card-title">About</h3>
    </div>
    
    <div class="card-body">
    <strong><i class="fas fa-book mr-1"></i> Education</strong>
    <p class="text-muted">
        <!-- {{patient.education}} -->
    </p>
    <hr>
    <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
    <p class="text-muted">{{ patient.address }}</p>
    <hr>
    <strong><i class="fas fa-pencil-alt mr-1"></i> Experience</strong>
        <p class="text-muted">{{ doctor.experience }}</p>
    </div>
    
    </div>
    
    </div>
    
    <div class="col-md-9">
    <div class="card">
    <div class="card-header p-2">
    <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" href="#dashboard" data-toggle="tab">Record</a></li>
    <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Timeline</a></li>
    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
    </ul>
    </div>
    <div class="card-body">
    <div class="tab-content">
    <div class="tab-pane" id="dashboard">
    
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
            <div class="info-box-content">
            <span class="info-box-text">CPU Traffic</span>
            <span class="info-box-number">
            10
            <small>%</small>
            </span>
            </div>
            
            </div>
            
            </div>
            
            <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
            <div class="info-box-content">
            <span class="info-box-text">Likes</span>
            <span class="info-box-number">41,410</span>
            </div>
            
            </div>
            
            </div>
            
            
            <div class="clearfix hidden-md-up"></div>
            <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
            <div class="info-box-content">
            <span class="info-box-text">Sales</span>
            <span class="info-box-number">760</span>
            </div>
            
            </div>
            
            </div>
            
            <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
            <span class="info-box-text">New Members</span>
            <span class="info-box-number">2,000</span>
            </div>
            
            </div>
            
            </div>
            
            </div>
    
    </div>
    
    <div class="tab-pane active" id="timeline">
    
    <div class="timeline timeline-inverse">
    
    <div class="time-label">
    <span class="bg-danger">
    10 Feb. 2014
    </span>
    </div>
    
    
    <div>
    <i class="fas fa-envelope bg-primary"></i>
    <div class="timeline-item">
    <span class="time"><i class="far fa-clock"></i> 12:05</span>
    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
    <div class="timeline-body">
    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
    weebly ning heekya handango imeem plugg dopplr jibjab, movity
    jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
    quora plaxo ideeli hulu weebly balihoo...
    </div>
    <div class="timeline-footer">
    <a href="#" class="btn btn-primary btn-sm">Read more</a>
    <a href="#" class="btn btn-danger btn-sm">Delete</a>
    </div>
    </div>
    </div>
    
    
    <div>
    <i class="fas fa-user bg-info"></i>
    <div class="timeline-item">
    <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>
    <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request
    </h3>
    </div>
    </div>
    
    
    <div>
    <i class="fas fa-comments bg-warning"></i>
    <div class="timeline-item">
    <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>
    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
    <div class="timeline-body">
    Take me to your leader!
    Switzerland is small and neutral!
    We are more like Germany, ambitious and misunderstood!
    </div>
    <div class="timeline-footer">
    <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
    </div>
    </div>
    </div>
    
    
    <div class="time-label">
    <span class="bg-success">
    3 Jan. 2014
    </span>
    </div>
    
    
    <div>
    <i class="fas fa-camera bg-purple"></i>
    <div class="timeline-item">
    <span class="time"><i class="far fa-clock"></i> 2 days ago</span>
    <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
    <div class="timeline-body">
    <img src="https://placehold.it/150x100" alt="...">
    <img src="https://placehold.it/150x100" alt="...">
    <img src="https://placehold.it/150x100" alt="...">
    <img src="https://placehold.it/150x100" alt="...">
    </div>
    </div>
    </div>
    
    <div>
    <i class="far fa-clock bg-gray"></i>
    </div>
    </div>
    </div>
    
    <div class="tab-pane" id="settings">
    
    Admin Operations : 
<!-- start -->
  <!-- Button trigger modal -->
<button type="button" class="btn {% if doctor.approve %} btn-warning {%else%} btn-success{%endif%}" data-toggle="modal" data-target="#blockModal">
  {% if patient.status %} Deactivate{%else%} Activate{%endif%}
  </button>
  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#disapproveModal">
    {% if patient.approve %}     Disapprove {%else%} Approve{%endif%}
  </button>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModal">
    Remove
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="blockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Do you want to {% if patient.status %} Deactivate{%else%} Activate{%endif%} ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Note: this opration can not be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
          <form method="post">
            {%csrf_token%}
            <input type="hidden" name="action" {% if patient.status %} value="deactivate"{%else%} value="activate"{%endif%}>
          <input type="submit" class="btn btn-danger">
        </form>

        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="disapproveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Do you want to {% if patient.approve %} disapprove{%else%} approve{%endif%}  ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Note: This operation can not be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
          <form method="post">
            {%csrf_token%}
            <input type="hidden" name="action" {% if patient.approve %} value="disapprove"{%else%} value="approve"{%endif%}>
            <input type="submit" class="btn btn-danger">
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Do you want to remove permanently ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Note: this opration can not be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
          <form method="post">
            {%csrf_token%}
            <input type="hidden" name="action" value="delete"/>
          <input type="submit" class="btn btn-danger"/>
        </form>
        </div>
      </div>
    </div>
  </div>
<hr>
Update information
  <!-- end -->
     <hr>
    <form class="form-horizontal">

    <div class="form-group row">
    <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="First Name">
    </div>
    </div>

    <div class="form-group row">
      <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="last_name" placeholder="Last Name">
      </div>
      </div>

    <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
    <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    </div>
    <div class="form-group row">
    <label for="mobile" class="col-sm-2 col-form-label">Moblile Number</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" id="mobile" placeholder="Mobile Number">
    </div>
    </div>
    <div class="form-group row">
      <label for="address" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="address" placeholder="Address">
      </div>
      </div>
      <div class="form-group row">
        <label for="education" class="col-sm-2 col-form-label">Education</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="education" placeholder="Education">
        </div>
        </div>
    <div class="form-group row">
    <label for="Experience" class="col-sm-2 col-form-label">Experience</label>
    <div class="col-sm-10">
    <input class="form-control" id="Experience" placeholder="Experience"/>
    </div>
    </div>
    <div class="form-group row">
      <label for="department" class="col-sm-2 col-form-label">Department</label>
      <div class="col-sm-10">
      <textarea class="form-control" id="department" placeholder="Department"></textarea>
      </div>
      </div>
      <div class="form-group row">
        <label for="detail" class="col-sm-2 col-form-label">Details</label>
        <div class="col-sm-10">
        <textarea class="form-control" id="detail" placeholder="detail"></textarea>
        </div>
        </div>
      </div>
    </div>
    </div>
    <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
    <button type="submit" class="btn btn-danger">Submit</button>
    </div>
    </div>
    </form>
    </div>
    
    </div>
    
    </div>
    </div>
    
    </div>
    
    </div>
    
    </div>
    </section>
{%endblock%}