{%extends 'doctor/base.html' %}

{%block content%}
<section class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-3">
    
    <div class="card card-primary card-outline">
    <div class="card-body box-profile">
    <div class="text-center">
    <img class="profile-user-img img-fluid img-circle" src="/media/{{doctor.profile_pic}}" alt="User profile picture">
    </div>
    <h3 class="profile-username text-center">{{doctor.user.first_name}} {{doctor.user.last_name}}</h3>
    <p class="text-muted text-center">{{doctor.department}}</p>
    <ul class="list-group list-group-unbordered mb-3">
    <li class="list-group-item">
    <b>Username</b> <a class="float-right">{{doctor.user.username}}</a>
    </li>
    <li class="list-group-item">
        <b>Email</b> <a class="float-right">{{doctor.user.email}}</a>
        </li>
    <li class="list-group-item">
    <b>Phone no</b> <a class="float-right">{{doctor.mobile}}</a>
    </li>
    <li class="list-group-item">
    <b>Gender</b> <a class="float-right">{{doctor.gender}}</a>
    </li>
    </ul>
    </div>
    
    </div>
    
    
    <div class="card card-primary">
    <div class="card-header">
    <h3 class="card-title">About Me</h3>
    </div>
    
    <div class="card-body">
    <strong><i class="fas fa-book mr-1"></i> Qualification</strong>
    <p class="text-muted">
        {{doctor.education}}
    </p>
    <hr>
    <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
    <p class="text-muted">{{doctor.address}}</p>
    <hr>
    <strong><i class="fas fa-pencil-alt mr-1"></i> Experience</strong>
    <p class="text-muted">
    {{doctor.experience}}
    </p>
    </div>
    
    </div>
    
    </div>
    
    <div class="col-md-9">
    <div class="card">
    <div class="card-header p-2">
    <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Detail</a></li>
    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Change Password</a></li>
    </ul>
    </div>
    <div class="card-body">
    <div class="tab-content">
    <div class="active tab-pane" id="activity">
    
    <div class="post">
        <p>{{doctor.details}}</p>
    
    </div>
    </div>
    
    <div class="tab-pane" id="timeline">
        <div class="">
            <div class="row justify-content-center">
              <div class="col-md-6 card m-2">
              
                <form method="post">
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="form-group">
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field }}
                      {% for error in field.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                      {% endfor %}
                    </div>
                  {% endfor %}
                  <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
              </div>
            </div>
          </div>
    </div>
 
    
    </div>
    
    </div>
    </div>
    
    </div>
    
    </div>
    
    </div>
    </section>
{%endblock%}