{% extends "base.html" %}

{% block content %}
<div class="row mt-5 mb-5">
    <div class="col-3"></div>
<div class="container mt-5 mb-5 col-6">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Password Reset Successful!</h4>
        <p>Your password has been successfully reset.</p>
        <hr>
        <p class="mb-0">You can now log in with your new password.</p>
      </div>
    </div>
  </div>
</div>
<div class="col-3"></div>
</div>
{% endblock %}
